.invoice-modal {
  position: relative;
  padding: 1.25rem 2rem 2rem 2rem;
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
  margin: 10vh auto auto auto;
  width: 37.5rem;
  background-color: #ffffff;
  border-radius: 3px;
}
.invoice-modal-create-button {
  text-align: center;
  width: 30%;
  margin: 1rem auto 0 auto;
  align-self: flex-end;
  border-radius: 3px;
  border: none;
  background-color: #4874d2;
  color: white;
  font-weight: 700;
  white-space: nowrap;
  line-height: 100%;
  height: 2.8125rem;
}
