
$spacing-gap: #{var(--spacing-gap)};
$spacing-xs: #{var(--spacing-xs)};
$spacing-s: #{var(--spacing-s)};
$spacing-m: #{var(--spacing-m)};
$spacing-l: #{var(--spacing-l)};
$spacing-xl: #{var(--spacing-xl)};

$input-height: #{var(--input-height)};
$max-page-width: #{var(--max-page-width)};
