.landing-large-banner {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.landing-feature-banner {
  box-sizing: content-box;
  overflow: visible;
  width: auto;
  object-fit: cover;
}
.feature-list {
  scroll-behavior: smooth;
  margin: 0;
  background-color: #ffffff;
}
.feature-list-item {
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.feature-list-item:nth-child(even) {
  border-top: 1px solid #ffffff;
  background-color: #ffffff;
}
.feature-list-item:nth-child(odd) {
  border-top: 1px solid #f4f7ff;
  background-color: #f4f7ff;
}

.feature-list-item-header {
  justify-self: flex-start;
  align-self: center;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
}

.feature-card {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-weight: 300;
}

.feature-card-no-header {
  flex-direction: column;
}

.feature-card-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}
.stat-card-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feature-card-list-column {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.feature-card-list-row {
  display: flex;
  text-align: center;
}

.feature-card-icon,
.stat-card-icon {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-shrink: 0;
}
.feature-card-icon-image,
.stat-card-icon-image {
  margin: auto;
}
.feature-card-header {
  font-size: 1.25rem;
  font-weight: 600;
}

.feature-card-icon,
.stat-card-icon {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background-color: #46496c;
}

.stat-card-icon {
  margin: auto 0 auto auto;
  align-self: flex-end;
}

.stat-card {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  height: 8rem;
  width: 21.875rem;
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
}

.stat-card-header {
  color: #666666;
  font-weight: 600;
  font-size: 1.125rem;
}

.stat-card-data {
  color: #333333;
  font-weight: 700;
  font-size: 2.5rem;
}

.stat-card-list {
  display: flex;
  justify-content: center;
}
.investor-list {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.investor-card {
  padding: 3rem 2rem;
  width: 10rem;
  height: 6.25rem;
  border-radius: 3px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.investor-card-image {
  margin: auto;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.item-1 {
  display: flex;
}

@media screen and (max-width: 815px) {
  .landing-large-banner {
    height: 30vh;
  }
  .landing-feature-banner {
    margin: 0;
  }
  .item-1 {
    flex-direction: column;
    justify-content: center;
  }
  .feature-list-item {
    gap: 2rem;
    min-height: fit-content;
    padding: 2.25em var(--side-padding);
  }
  .stat-card-list {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
  .feature-card-list-row {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
  .feature-card-no-header {
    gap: 1.25rem;
    padding: 0 5%;
  }
  .feature-list-item:last-child {
    height: 32rem;
  }
}

@media screen and (min-width: 816px) {
  .landing-large-banner {
    margin: 0;
  }
  .landing-feature-banner {
    margin: -6.6rem 0;
  }
  .stat-card-list {
    flex-direction: row;
    gap: 2rem;
  }
  .feature-list-item {
    gap: 5rem;
    min-height: 33rem;
    padding: 6.25em var(--side-padding);
    overflow: hidden;
  }
  .item-1 {
    margin-top: -0.4rem;
    flex-direction: row;
    gap: 5rem;
  }
  .feature-card-list-row {
    flex-direction: row;
    gap: 2rem;
  }
  .investor-list {
    flex-direction: row;
  }
  .feature-list-item:last-child {
    min-height: 21rem;
    height: 21rem;
  }
}
