@media screen and (max-width: 815px) {
  .profile-page-container {
    flex-direction: column;
  }
  .user-funds-info-balance-section {
    padding: 0;
  }
  .asset-info {
    flex-direction: column;
  }
  .asset-label {
    visibility: hidden;
    display: none;
  }
}
@media screen and (min-width: 815px) {
  .profile-page-container {
    flex-direction: row;
  }
  .user-funds-info-balance-section {
    padding: 1rem 0 0 2rem;
  }
  .asset-info {
    flex-direction: row;
  }
  .asset-label {
    display: flex;
  }
}

.profile-page-container {
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  gap: 0;
  padding: 1rem;
  background-color: #fff;
  width: 100%;
  height: fit-content;
  font-size: 1.25rem;
}
.asset-section-gap-divider,
.profile-section-gap-divider {
  width: 1px;
  background-color: #777;
}
.user-funds-info-section,
.user-profile-edit-section {
  width: 100%;
  padding: 0.5rem 1rem;
  height: 100%;
}
.user-profile-edit-name-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.user-profile-edit-submit-button {
  margin-top: 1rem;
}
.user-funds-info-section-subheader,
.user-profile-edit-section-subheader {
  font-weight: 600;
  font-size: 1.25rem;
  padding: 1rem 0;
}
.user-funds-info-balance-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  gap: 1.5rem;
}
.wallet-balance {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}
.wallet-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
}
.asset-label {
  font-size: 2rem;
}
.wallet-balance-label {
  font-size: 1rem;
}
.wallet-balance-data {
  font-size: 1.5rem;
  font-weight: 600;
}
.asset-label {
  align-items: center;
  justify-content: center;
}
.asset-info {
  display: flex;
  gap: 1rem;
  height: 100%;
  padding: 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.wallet-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: flex-end;
  margin-left: auto;
}
.wallet-actions-allocate-funds-row,
.wallet-actions-withdraw-funds-row,
.wallet-actions-add-funds-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 0.5rem;
  align-self: flex-end;
}

.wallet-actions-add-funds {
  width: 100%;
}

.wallet-actions-withdraw-funds {
  width: 100%;
}
