@media screen and (max-width: 815px) {
  .graph-card,
  .highest-volume-graph-section {
    width: 85vw;
  }
  .exchange-graphs-container {
    min-width: 100%;
    min-height: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: calc(max(min-content, 20rem));
    grid-template-areas:
      "auction-volume-graph-card"
      "auction-discount-rate-trend-graph-card"
      "auction-highest-volume-graph-section"
      "auction-size-distribution-graph-card"
      "auction-success-graph-card"
      "invoices-auctioned-graph-card";
    justify-items: center;
  }
}
@media screen and (min-width: 815px) {
  .exchange-graphs-container {
    min-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    grid-template-areas:
      "auction-volume-graph-card auction-discount-rate-trend-graph-card auction-discount-rate-trend-graph-card auction-highest-volume-graph-section"
      "auction-size-distribution-graph-card auction-size-distribution-graph-card auction-success-graph-card invoices-auctioned-graph-card";
  }
}

.exchange-graphs-container {
  display: grid;
  gap: 2rem;
}
.auction-volume-graph-card {
  grid-area: auction-volume-graph-card;
}
.auction-discount-rate-trend-graph-card {
  grid-area: auction-discount-rate-trend-graph-card;
}
.auction-highest-volume-graph-section {
  grid-area: auction-highest-volume-graph-card;
}
.auction-size-distribution-graph-card {
  grid-area: auction-size-distribution-graph-card;
}
.auction-success-graph-card {
  grid-area: auction-success-graph-card;
}
.invoices-auctioned-graph-card {
  grid-area: invoices-auctioned-graph-card;
}
