@media screen and (max-width: 815px) {
  :root {
    --side-padding: 5vw;
  }
  .profile-greeting {
    visibility: hidden;
    display: none;
  }
  .page-subheader {
    align-items: flex-start;
    gap: 1em;
    flex-wrap: wrap;
  }
  .app-logo-wide {
    display: none;
    visibility: hidden;
  }
  .nav-menu {
    display: none;
    visibility: hidden;
  }
  .nav-hamburger-button {
    display: flex;
    visibility: visible;
  }
  .nav-hamburger {
  }
}
@media screen and (min-width: 816px) {
  .page-subheader {
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .app-logo-small {
    display: none;
    visibility: hidden;
  }
  .nav-menu {
    display: flex;
    visibility: visible;
  }
  .nav-hamburger-button {
    display: none;
    visibility: hidden;
  }
}
@media screen and (min-width: 816px) and (max-width: 1599px) {
  :root {
    --side-padding: 10vw;
  }
}
@media screen and (min-width: 1600px) {
  :root {
    --side-padding: 20vw;
  }
}

.nav-hamburger-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 1rem;
  margin-left: -1.5rem;
}

.nav-hamburger-item {
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  margin: auto;
  width: 50%;
  justify-content: center;
  padding: 5%;
}
.nav-hamburger-item-current {
  border-bottom: 5px solid #95cbef;
  font-weight: 600;
}
.nav-hamburger {
  transform: scale(1);
  transition: ease-in 1s;
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 80vw;
  background-color: #474a6f;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 15rem 0 15rem 1rem;
  gap: 4rem;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.4);
}
:root {
  --content-background-color: #171b44;
}

.no-content-background-color {
  --content-background-color: #ffffff;
}

.page-header,
.page-content {
  padding: 0px var(--side-padding);
}

.page-header {
  display: flex;
  flex-direction: row;
  background-color: #46496c;
  transition: height 0.2s ease-in-out;
  min-height: min(97px, 10vh);
}

.page-content {
  background-color: var(--content-background-color);
  min-height: 100vh;
  height: fit-content;
  transform: scale(1);
  transition: 0.3s all ease;
}

.no-content-padding {
  padding: 0;
}

.page-footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--content-background-color);
  color: #c2c2c2;
  text-align: center;
  padding-top: 1vh;
  font-size: 0.8125rem;
  min-height: 5.5vh;
}

.profile-section {
  margin-left: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #96beef;
  color: #171b44;
  font-weight: 700;
}

.page-subheader {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  z-index: 0;
}
.page-subheader-text {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  z-index: 0;
  margin: auto 0;
  line-height: 100%;
}
.app-logo-small {
  margin: auto 0;
  object-fit: scale-down;
  padding-right: 1rem;
}
.app-logo-wide {
  margin: auto 0;
  object-fit: scale-down;
  padding-right: 1rem;
}
.nav-menu {
  overflow: hidden;
  align-self: flex-end;
  width: 50%;
  flex-wrap: nowrap;
  flex-shrink: 3;
  align-items: center;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 300;
}

.nav-menu-item {
  padding: 0 1.75rem;
  height: 100%;
  line-height: 9.5vh;
  border-bottom: 5px solid transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-menu-item-current {
  font-weight: 600;
  border-bottom: 5px solid #95cbef;
}

.profile-greeting {
  align-self: center;
  margin-left: auto;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.375rem;
}

.base-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.base-checkbox-container {
  background-color: #eeeeee;
  border: 1px solid #4874d2;
}

.base-table {
  text-align: left;
  border-collapse: collapse;
  background-color: transparent;
  width: 100%;
  color: #333333;
  position: relative;
}

.base-table th {
  top: -1rem;
  color: #1e1313;
  background-color: #eeeeee;
  font-weight: 600;
  padding: 1rem;
  position: sticky;
}

.base-table td {
  border-bottom: 1px solid #cccccc;
  font-weight: 300;
  padding: 1rem;
  color: #111111;
}

.base-table td :nth-child() {
  border-bottom: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal-header {
  color: #000000;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.profile-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4874d2;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  text-align: center;
  font-weight: 700;
  line-height: 100%;
  height: 2.8125rem;
  margin: auto;
  width: 6.5rem;
}

.or {
  background-color: #4874d2;
  min-height: 1.25rem;
  height: 1.25rem;
  min-width: 1.25rem;
  width: 1.25rem;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 700;
  border-radius: 3px;
  margin: -1.25rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  border-radius: 2px;
  width: 100%;
  background-color: #ffffff;
  padding: 1em 0px 0px 0px;
  overflow-y: auto;
  overflow-x: auto;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent !important;
}

.expand-profile-menu-button {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
}
.profile-menu {
  position: absolute;
  z-index: 100;
  right: auto;
  left: auto;
  margin-top: min(85px, 10vh);
  height: fit-content;
  background-color: #ffffff;
  width: 10rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  border-radius: 3px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.profile-menu-item {
  height: 100%;
  display: flex;
  padding: 0.5em;
  border-top: 1px solid #cccccc;
}

.table-hidden {
  display: none;
  visibility: hidden;
}
