.highest-auction-volume-graph-section {
  width: 100%;
  height: 100%;
}
.highest-volume-graph-items-container {
  height: 100%;
  margin-top: 1rem;
  align-items: center;
}

.highest-volume-graph-card {
  width: 100%;
  height: 60%;
  color: #fff;
}
.highest-volume-graph-item {
  font-weight: 300;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.highest-volume-graph-actions-container {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
}
.graph-action-button {
  justify-content: center;
  width: 100%;
}
