.ui .list {
  background-color: white;
  color: black;
  justify-content: left;
  text-align: left;
}

.onboarding-tile .onboarding-tile-content .ui.header > .content {
  display: flex;
  justify-content: left;
  align-items: left;
}
