@use '../variables.scss' as *;

@mixin login-screen {

  .login-screen {

    color: var(--whitetextcolor);
    background-color: var(--main-background-color);
    height: 100%;

    .chat-icon {
      width: 40px;
      height: 40px;
    }

    .onboarding-tile .onboarding-tile-content {
      background-color: var(--content-background-color);
      padding: 48px;
      max-width: 550px;
    }

    .onboarding-tile .onboarding-tile-content .ui.header > .content {
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        width: $spacing-m;
        height: $spacing-m;
        margin-right: $spacing-s;
      }
    }

    .onboarding-tile .onboarding-tile-content .ui.input {
      height: 50px;
    }

    .parties-login .field.upload-file-input {
        display: flex;
    }

    .parties-login .field > .ui.input {
        display: flex;
        align-self: flex-end;
    }

    .parties-login .custom-file-upload > input[type="file"] {
        display: none;
    }

    .parties-login .custom-file-upload {
        height: 44px;
        width: 100%;
        margin: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-self: flex-end;
    }

    .parties-login .custom-file-upload .icon {
        margin-right: var(--spacing-s);
    }

    .login-button {
      margin-bottom: $spacing-xs;
      background-color: var(--button);
    }

    .button {
      background-color: var(--button);
    }

    p {
      margin: $spacing-s;
    }

    .ui.disabled.button {
      color: white;
      background-color: transparent;
      border: 1px solid white;
    }
    .field > label {
      color: var(--whitetextcolor);
      margin-bottom: $spacing-s;
    }
  }
}
