.graph-legend {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}
.graph-legend-indicator {
  height: 0.875rem;
  width: 0.875rem;
  border-radius: 50%;
  min-height: 0.875rem;
  min-width: 0.875rem;
}

.graph-legend-item {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  gap: 1rem;
}
.graph-legend-item-compact {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  width: 6rem;
}
.graph-legend-item-compact .graph-legend-label {
  grid-column: 2;
  grid-row: 1;
}
.graph-legend-item-compact .graph-legend-indicator {
  grid-column: 1;
  grid-row: 1;
}
.graph-legend-item-compact .graph-legend-data {
  grid-column: 2;
  grid-row: 2;
}
.graph-legend-label {
  font-weight: 300;
  color: #ffffff;
  line-height: 100%;
}
.graph-legend-data {
  margin-left: auto;
  align-self: flex-end;
  font-weight: 600;
  color: #ffffff;
  line-height: 100%;
}
