@media screen and (max-width: 815px) {
  .total-invoices-value-graph-contents {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 815px) {
  .total-invoices-value-graph-contents {
    flex-direction: row;
  }
}

.total-invoices-value-graph-container {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  margin-bottom: auto;
}

.total-invoices-value-graph-contents {
  height: 100%;
  display: flex;
  gap: 1rem;
}
.total-invoices-value-graph-legend {
  display: flex;
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 0;
}
.total-invoices-value-graph-legend-container {
  display: flex;
  flex-direction: column;
}
