@media screen and (max-width: 815px) {
  .auction-wins-graph-container {
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (min-width: 815px) {
  .auction-wins-graph-container {
    width: 70%;
    margin-left: auto;
  }
}
.auction-wins-graph-container {
  height: 100%;
  padding: 1rem;
}
