.invoices-select-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
@media screen and (max-width: 815px) {
  .new-invoice-button {
    margin: auto 0 auto auto;
    height: 2.8125rem;
    min-width: 2.8125rem;
    width: fit-content;
    justify-content: center;
  }
  .new-invoice-button-label {
    display: none;
    visibility: hidden;
  }
  .filter-sort-action-bar {
    margin: auto;
    align-self: flex-end;
  }
  .filter-menu-button {
    align-self: flex-start;
  }
  .sort-menu {
    width: 100%;
  }
  .sort-menu-area {
    margin: 0 0 0 1.25rem;
    width: 100%;
  }
  .sort-menu-button {
    margin: auto;
    width: 100%;
  }
  .filter-menu {
    margin: 1rem 0 0 0;
  }
  .invoice-modal {
    max-width: 90vw;
  }
  .invoice-modal-date-section {
    flex-direction: column;
  }
}
@media screen and (min-width: 815px) {
  .filter-sort-action-bar {
    margin: auto 0;
  }
  .new-invoice-button {
    order: 1;
    height: 2.8125rem;
    padding: 0px 1rem 0px 1rem;
    width: fit-content;
    align-self: flex-end;
    justify-self: flex-end;
  }
  .filter-menu-button {
    margin: auto auto auto 0.625rem;
  }
  .sort-menu-button {
    margin: auto auto auto auto;
    width: 16.875rem;
  }
  .sort-menu-area {
    margin: 0 1.25rem 0 0;
    width: fit-content;
  }
  .sort-menu {
    width: 16.875rem;
  }
  .filter-menu {
    margin: 1rem 0 0 0.625rem;
  }
  .invoice-modal-date-section {
    flex-direction: ro;
  }
}

.invoices-statistics {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 0.75rem;
}

.auction-modal-discount-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: baseline;
  align-items: baseline;
}
.filter-menu {
  position: absolute;
  left: auto;
  right: auto;
  height: 12.5rem;
  background-color: #ffffff;
  width: 16rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  border-radius: 3px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.filter-menu-option {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5em;
  padding: 0.5em;
  border-top: 1px solid #cccccc;
}

.filter-menu-open.filter-menu {
  visibility: visible;
}
.filter-menu-closed.filter-menu {
  visibility: hidden;
  display: none;
}

.sort-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1.25rem;
  box-sizing: border-box;
  background-color: #ffffff;
  position: absolute;
  left: auto;
  right: auto;
  height: 24.1875rem;
  z-index: 1;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 0.9375rem;
  font-weight: 300;
}

.sort-menu-apply-button {
  text-align: center;
  width: 100%;
  margin-top: auto;
  align-self: flex-end;
  border-radius: 3px;
  border: none;
  background-color: #4874d2;
  color: white;
  font-weight: 700;
  white-space: nowrap;
  line-height: 100%;
  height: 2.8125rem;
}

.sort-menu-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.sort-menu input {
  display: inline-block;
}
.sort-menu label {
  display: inline-block;
  margin-left: 0.5rem;
}

.sort-menu-section-label {
  font-weight: 600;
}

.sort-menu-area {
  overflow: visible;
  position: relative;
}

.filter-sort-action-bar {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.filter-menu-button {
  background-color: #4874d2;
  border: none;
  border-radius: 3px;
  height: 2.8125rem;
  min-width: 2.8125rem;
  width: fit-content;
  line-height: 100%;
}

.sort-menu-open.sort-menu-button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.sort-menu-open.sort-menu {
  visibility: visible;
}
.sort-menu-closed.sort-menu {
  visibility: hidden;
  display: none;
}
.sort-menu-button:focus {
  box-shadow: 0 0.25rem 0 #4874d2 inset;
  outline: none;
}
.sort-menu-closed.sort-menu-open.sort-menu-button {
  border-radius: 3px;
}

.sort-menu-button {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border: none;
  height: 2.8125rem;
  text-align: left;
  font-weight: 300;
  border: none;
  background-color: #eeeeee;
}
.sort-menu-button-label,
.sort-menu-button-arrow {
  margin: auto 0;
}

.new-invoice-button {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 3px;
  border: none;
  background-color: #4874d2;
  color: white;
  font-weight: 700;
  flex-wrap: nowrap;
  white-space: nowrap;
  line-height: 100%;
}

.invoices-list {
  flex-direction: column;
  display: flex;
  min-height: fit-content;
  gap: 1em;
}

.auction-modal {
  position: relative;
  padding: 1.25rem 2rem 2rem 2rem;
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
  margin: 10vh auto auto auto;
  height: 30rem;
  width: 37.5rem;
  background-color: #ffffff;
  border-radius: 3px;
}

.invoice-modal {
  position: relative;
  padding: 1.25rem 2rem 2rem 2rem;
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
  margin: 10vh auto auto auto;
  width: 37.5rem;
  background-color: #ffffff;
  border-radius: 3px;
}

.invoice-modal-date-section {
  gap: 0.5em;
  width: 100%;
  display: flex;
}

.invoice-modal-create-button,
.auction-modal-create-button {
  text-align: center;
  width: 30%;
  margin: auto auto 0 auto;
  align-self: flex-end;
  border-radius: 3px;
  border: none;
  background-color: #4874d2;
  color: white;
  font-weight: 700;
  white-space: nowrap;
  line-height: 100%;
  height: 2.8125rem;
}

.base-input-field {
  width: 100%;
  margin: 1.125rem 0 0 0;
  position: relative;
  background-color: #ffffff;
  border-radius: 3px;
  height: 3rem;
  line-height: 3rem;
  border: solid 1px #cccccc;
  padding: 0 0.625rem 0;
}

.base-input-field > input[type="date"] {
  border: none;
  height: 2rem;
  width: 100%;
  color: #333333;
}

.base-input-field > input {
  border: none;
  height: 2rem;
  width: 100%;
  color: #333333;
  font-weight: 600;
}
.base-input-field > input:focus {
  outline: none;
}

.base-input-field > label {
  color: #333333;
  box-sizing: border-box;
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: -0.8125rem;
  left: 3rem;
  background-color: white;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 600;
  padding: 0 1%;
}

.modal-close-button {
  margin: -1.5rem -1.5rem -1.5rem -1.5rem;
  position: absolute;
  border: none;
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
  right: 0;
  top: 0;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
option {
  color: black;
}
